body
{
    color:brown;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: darkgoldenrod;
    box-shadow: 0px 2px 20px 0px rgba(4, 47, 83, 0.867)(0,0,0,0,5);
    color: rgb(6, 7, 7);
    font-weight: bold;
    margin: 0.5em;

}

#cabecera #tagline
{
    margin: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}